nav{
	display:  flex;
	flex-direction: row;
    justify-content: space-between;
    margin-top: 4px;
    height: 34px;
   
  
}
.header-timkiem{
	width:95%;
	height:86px ;
	display: flex;
   align-items: center;
    margin-left: 25px;
    gap: 10px;


}
.timkiem{
	flex: 1;
	height: 100%;
	border: none;
	outline: none;
	font-size: 1rem;
	padding: 0 16px;
	border-radius: 2px;
}
.header-time-timkiem2{
	width: 150px;
	font-size: 1.5rem;
	color: white;
	text-align: center;
}
.timkiem1{
	border-left: 1px solid black;
	padding-left: 16px;
}
.icon{
	margin: 0 16px;
	font-size: 1.2rem;
}

.header-time-timkiem1{
	flex: 1;
	height: 40px;
	background-color: white;
	border-radius: 2px;
	display: flex;
	align-items: center;

}
svg{
	width: 120px;
  color: white;
}
.nho{
	color: white;
}
.nho1{
	 text-decoration: none;
	color: #EEEEEE;
}
#nhan{
	position: fixed;
	top: 0;
	right: 0;
    height: 120px;
	left: 0;
	background-image: linear-gradient(0,#fe6433,#f53e2d);
width: 100%
}
#nhan1{

	margin-left: 20px;
}
#nhan2{
	margin-right: 20px;
}
.nhung{
cursor: pointer;
font-weight: 50;

}
ul{
	padding-left: 0;
}
#vinh1,#vinh2,#vinh:hover{
	cursor: pointer;
	color: rgba(255, 255, 255, 0.7);
}
    
li{
	position: relative;
    margin: 0 10px;
	display: inline-block;
color: #EEEEEE;
	list-style-type: none;
font-weight: 50px;
}
.li{
	display:block ;
}
#nho{
	display: flex;
	flex-direction: row;
	width: 100%;
	position:relative;
	align-items: center;
	
}
.timkiem-button{
  border: none;
  height: 34px;
  color: white;
  background-color:#ec593c;
  font-size: 1rem;
  border-radius: 3px;
  margin-right: 3px;
  margin-left: 3px;
  outline: none;

}
.timkiem-button
{

cursor: pointer;
}

.main-item:hover{
	background-color: #f1f1f1;
}
#vinh2:hover #thongbao{
	display: block;
}
 #thongbao{
 	z-index: 100;
 }

.nhi{
	border-radius: 2px;
	background-color: white;
	width: 180px;
	position: absolute;
	padding: 8px;
	margin-top
	: 10px;
	display: flex;
	flex-direction: column;
	display: none;
	
	
}
.input-header{
	flex: 1;
}

.footer-thongbao{
	height: 30px;
	background-color: white;
	font-weight: 400;
	font-size: 1.4rem;
	color:black;
	line-height: 40px;
	text-align: center;
	margin-top: 10px;
}
*{
	box-sizing: border-box;
}
.header-thongbao{
	margin: 0 0 0 12px;
	height: 40px;
	background-color: white;
	font-weight: 400;
	font-size: 1.4rem;
	color: #999;
	line-height: 40px;
}

#thongbao{
      height: 530px;
	right: 0;
	top: 100%;
	position: absolute;
	background-color: white;
	width:440px ;
	border: 1px solid #D3D3D3;
	display: none;
}
.contaner{
	margin-top: 10px;
}
#vinh:hover .nhi{
	
	display: block;
}
.main-img{
	width: 48px;
	padding-left: 0;
}
.thongbao1{
	text-decoration: none;
	
}
.main-item{
	display: flex;
	gap: 2px;
	align-items: center;
	padding:12px ;
}
.main-thongbao{
	padding-left: 0px;
	background-color: rgba(238, 75, 43, 0.1);
}
.bin{
	color: white;
}


.main-item-link-item{
	line-height: 1.6rem;
	font-weight: 400;
	color: #999;
	font-size: 14px;
}
.main-item-link{
	line-height: 1.6rem;
	color:black ;
}
#giaodien{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: none;
	
}
.nhung:hover #giaodien{
	display: block;
}
.contaner-body{
	margin-top: 18px;
	
	
}
.contaner-body-contai1{
 text-decoration: none;
 color: #DD0000;
}
.contaner-body-contai{
	line-height: 1.8rem;
	width: 100%;
	text-align: center;
	color: black;
	font-weight: 400;
}
.giaoien-imte{
	position: absolute;
	width: 100%;
	height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}
   

.giaodien-body	{
	background-color: white;
	height:500px;
	width: 460px;
	z-index: 6;
	border-radius: 5px;
	padding: 20px;

		}
		.giaodien-container{
			width: 100%;
   	height: 40px;
   	margin-top:16px ;
   	padding: 0 12px;
   	font-size: 13px;
   color:	#555555;
   	border: 1px solid #dbdbdb;
   	border-radius: 2px;
outline: none;

		}
		.nho12{
		color: white;
	}
	.header-body{
		display: flex;
	flex-direction: row;
	justify-content: space-between;
	

	}
	.item-header-body{
                
		list-style-type: none;
		display: inline-block;
	}
	.container-main{
		margin-top: 80px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 10px;

	}
	.footer-fonr{
		margin-bottom: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	      margin-top: 20px;
	}
	.footer-fonr-ite{
		text-decoration: none;
		background-color: #0000FF;
		color: white;
		padding: 8px;

	}
	.footer-fonr-itenhan{
		text-decoration: none;
		padding: 8px;
		background-color: white;
		
	}
	.container-main-1{
		background-color: red;
		min-width: 142px;
		height: 32px;
		border: none;
		cursor: pointer;
		color: white;
		border-radius: 3px;
		font-size: 1rem;
	}
	.container-main-nhan {
		background-color: #DCDCDC;
		min-width: 142px;
		height: 32px;
		border: none;
		cursor: pointer;
		color: #696969;
		font-size: 1rem;


	}
.shoing:hover .header-timkiem-shoping {
display: block;

}
.header-timkiem-shoping{
   width: 300px;
	position: absolute;
	top: calc(84%+2px);
background-color: white;
  right: 50px;
  border-radius: 2px;
margin-top: 12px;
padding:0 50px;
display: none;

}
.img-shoping{
	width: 100%;
}
a{
	text-decoration: none;
}
.conternoru-item{
	display: block;
	

}
#container{
	background-color: #f5f5f5;
	position: fixed;
	top:120px ;
	left: 0;
	right: 0;
	height: 600px;
}
.conternoru{
	display: flex;
	flex-direction: column;

}
.container-headinh{
	text-align: left;
}
.conternoru-item{
	margin: 12px 4px;
}
.colurm{

	
	height: 400px;

background-color: white;
	position: relative;
right: 10px;


}
.conternoru-item-link{
	position: relative;
   display: block;
   transition: right linear 0.1s;
right: 0px;
}
.conternoru-item-link:hover{
	color: yellow;
	right: 4px;
}
.colurm-8{
	padding-left: 5px;
	padding-right: 5px;
	width: 83.7%;
	overflow: auto;
}
.container-headinh1{
	margin-left: 8px;


}
.container-headinh{
	width: 100%;
	border-bottom: 1px solid black;
	padding: 16px 12px;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-left:-5px;
	margin-right: -5px;
	gap: 0px;

}
#gird{
	max-width: 100%;
	width: 1200px;
	margin: 0 auto;

}
header{
	position: relative;
	z-index: 1;
}
.button{
	border:none;
	background-color: white;
	width: 100px;
	padding: 5px;
}
.button:hover{
background-color: red;
}
.colurm-header{
	display: flex;
	background-color: rgba(0, 0, 0, 0.04);

height: 60px;
justify-content: space-between;
width: 100%;
margin-top: 42px;
margin-bottom: 10px;
}

.selecttion-gia{
	background-color: white;
	width: 170px;
	text-align: left;
padding: 3px;
}
.colurm-81{
	padding: 12px 22px;
   
}
.colum1{
	padding-left: 5px;
	padding-right: 5px;
	width: 20%;
	background-color: white;
	margin-top: 10px;
}
.item-img{
background-position: center;
	background-size: contain;
background-repeat: no-repeat;
	padding-top: 100%;

}
h4
{
	font-weight: 400;
	line-height: 1.8rem;
	margin:10px 10px 2px 10px;
	overflow: hidden;
	display: block;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	height: 3.6rem;
	font-size: 1.2rem;
}
.gia{
	display: flex;
   margin-left: 10px;
   align-items: baseline;
}
.gia1{
	color: #666;
	text-decoration:line-through;
	font-size: 1rem;
	
}
.gia2{
	color: red;
	font-size: 1.2rem;
	margin-left: 6px;
}
.action{
	display: flex;
	justify-content: space-between;
	margin: 6px 10px 0;
}
.hert{
	font-size: 0.9rem;
	margin: auto 0;
}
.ngoisao{
	font-size: 0.5rem;
	color: #D5D5D5;
	display: flex;
  margin-right:4px;
  margin:auto 0;
}
.danhgia{
	color: yellow;
}
.đaban{
	font-size: 1.2rem;
	margin-left: 6px;
}
i.dac{
display: inline-block;
color: red;
}
.hert-like.rong{
	display: none;
}
.colum1-imtem1{
	display: flex;
	justify-content: space-between;
	margin: 0 10px;
color: #595959;
font-weight: 300;
font-size: 1.2rem;
margin-top: 3px;
}
.conternoru-item2{
	position: absolute;
	top:10px;
	color: white;
	background-color: red;
	left: 4px;
	font-size: 1.2rem;
	line-height: 1.2rem;
	font-weight: 500;
	padding-right: 4px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.conternoru-item2 i{
font-size:0,9rem;
margin:0 3px 0 5px;
}
.conternoru-item3{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 40px;
	background-color: rgba(255, 216, 64, 0.94);
	text-align: center;
}
.conternoru-item-giam{
	color: red;
	font-weight: 600;
	font-size: 1.2rem;
	line-height:1.2rem ;
	position: relative;
	top: -1px;
}
.conternoru-item-giam1{
	line-height: 1.3rem;
	font-size: 1.3rem;
	color: white;
	font-weight: 600;
	position: relative;
	top: -5px;
}
.conternoru-item3::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: -6px;
	border-width: 0 30px 7px;
	border-style: solid;
	border-color:transparent rgba(255, 216, 64, 0.94)  transparent rgba(255, 216, 64, 0.94);
}
#container{
	overflow-y: auto;
	 height: 500px;
}
footer{
	padding-top: 16px;
}
h3{
	font-size: 0.75rem;
	text-transform: uppercase;
}.li1{
text-decoration: none;
color: #737373;
 padding: 2px 0;

}
.ipa{
	margin-bottom: 12px;
}
.li{
	padding-left: 0;
}
.conternoru-list{
	padding-left: 20px;
}

.ul{
padding-left: 0;
}
.ipa-mobie-link{
	text-decoration: none;
	
	font-size: 1.4rem;
	line-height:2rem;
	text-align: center;
	display: block;
	height: 40px;
	width: 200px;
	
}
.ipa-mobie{
	
	max-width: 100%;
	margin:auto;
	overflow-x: auto;


}










      